<h1>Blog Archive</h1>
<br />
	<%
		for( var b=0; b< allb.length; b++ )
		{
	%>	
		<div class="well">
			<div class="row-fluid">
				<div class="span6">
					<h3><%=allb[b].pubdate%></h3>
				</div>
				
				<div class="span6">
					<h4 class="pull-right">by <%=allb[b].author%></h4>
				</div>
				
			</div>
			 
			<h2>
				<a href="/blogs/<%=allb[b].blogClassname.replace(/\_/g,'-')%>">
					<%=allb[b].blogtitle%>
				</a>
			</h2>
			
			<div class="row-fluid">
				<div class="span12">
					<%-partial("blogs/"+allb[b].blogClassname)%>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">
				<h4>Tags</h4>
				<%
					if( allb[b].tags && allb[b].tags.length>0 )
					{
				%><h5>
				<%
						for( var t=0; t<allb[b].tags.length; t++ )
						{
				%>		<a href="/search/<%=encodeURIComponent(allb[b].tags[t])%>">
							<%=allb[b].tags[t]%></a>&nbsp;
				<%			
						}
				%></h5>
				<%
					}
					else{
				%>	<p>None</p>
				<%
					}
				%>
				</div>
			</div>
		</div>
		
	<%	
		}		
	%>

