<h1><%=general.app_title%></h1>
<br />
	
	<%
		for( var b=0; b< recent.length; b++ )
		{
	%>	
		<div class="well">
			<div class="row-fluid">
			<div class="span8">
				<h1>
					<a href="/blogs/<%=recent[b].blogClassname.replace(/\_/g,"-")%>">
						<%=recent[b].blogtitle%>
					</a>
				</h1>
					
			</div>
				
			<div class="span4">
				<br />
				<h6 class="pull-right">
					<span class="help-block">by <%=recent[b].author%></span>
					<span class="help-block"><%=recent[b].pubdate%></span>
					
				</h6>
			</div>
				
			</div>
			 
			<div class="row-fluid">
				<div class="span12">
					<%-partial("blogs/"+recent[b].blogClassname)%>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">
				<h5>
					<span class="help-block">
					TAGS
					&nbsp;
				<%
					if( recent[b].tags && recent[b].tags.length>1 )
					{
				%>
				<%
						for( var t=0; t<recent[b].tags.length; t++ )
						{
				%>		<a href="/search/<%=encodeURIComponent(recent[b].tags[t])%>">
							<%=recent[b].tags[t]%></a>&nbsp;
				<%			
						}
				%>
				<%
					}
					else{
				%>	None
				<%
					}
				%>
				</span>
				</h5>
				</div>
				<% if( session.login ) { %>
					<a class="btn pull-right"
						href="/manage/blogs/edit/<%=recent[b].blogClassname%>">
						<i class="icon-pencil"></i>
					</a>
				<% } %>
			</div>
		</div>
		
	<%	
		}		
	%>

