<!doctype html>
<html>
<head>
	<title><%=general.app_title_tag%> - <%=title%></title>
	
	<link rel="stylesheet" style="text/css" href="/css/strap.css" />
	<link rel="stylesheet" style="text/css" href="/css/style.css" />
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="/js/strap.js"></script>
	
	<script type="text/javascript"><%=general.google_analytics%></script>
</head>
<body>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
		<a class="brand" href="/">
			<%=general.home_button_text%>
		</a>
		<ul class="nav">
		  <li><a href="/blogs">Archive</a></li>
		  <li><a href="//www.wiggleware.com">Main Site</a></li>
		</ul>
		<form class="navbar-form pull-right" method="GET" action="/search">
		  <input type="text" class="span2" 
			name="query" placeholder="Search blog" />
		</form>
		<% if(session.login) { %>
		<ul class="nav pull-right">
			<li title="Go to dashboard">
				<a href="/manage">
					<%=session.display%>
					<i class="icon-user"></i>
				</a>
			</li>
			<li>
				<a href="/logout">
					Logout
					<i class="icon-off"></i>
				</a>
			</li>
		</ul>
		<% } %>
    </div>
  </div>
</div>
<% if(typeof(notify)!="undefined"){ %>
	<div class="alert alert-info"><%=notify%></div>
<% } %>
<% if(typeof(danger)!="undefined"){ %>
	<div class="alert alert-danger"><%=danger%></div>
<% } %>

<div class="container">
	<div class="row-fluid">
	<div class="span12">
	<%-body%>
	</div>
	</div>
</div>
<!-- footer -->
<div class="row-fluid">
	<div class="span12">
		<hr />
	</div>
</div>
<div class="row-fluid">
	<div class="span9">
		<div class="help-block">
			&copy; 2012 <a href="//www.wiggleware.com">Wiggleware</a>
			<a href="/manage">
				<i class="icon-user"></i>
			</a>
		</div>
	</div>
	<div class="span3">
		<div class="pull-right help-block">
			Running on <a href="//nodejs.org">Node.js</a> &amp; <a href="//expressjs.com">Express</a>
		</div>
	</div>
</div>

</body>
</html>
